In [1]:
# Dependencies
import pandas as pd

# Read data into Pandas DataFrame
file = "Public_School_Characteristics_2020-21.csv"
df = pd.read_csv(file)

FileNotFoundError: [Errno 2] No such file or directory: 'Public_School_Characteristics_2020-21.csv'

In [8]:
# Reduce to desired columns
red_df = df[["SCH_NAME", "LSTREET1", "LCITY", "LSTATE", "LZIP","TOTFRL","TOTAL", "FTE", "LATCOD", "LONCOD", "ULOCALE", "STUTERATIO","SCHOOL_TYPE_TEXT", "SY_STATUS_TEXT", "SCHOOL_LEVEL"]]

# Ensure the following columns are numeric: LZIP, TOTFRL, TOTAL, WH, FTE, LATCOD, LONCOD, STUTERATIO
red_df[["LZIP", "TOTFRL", "TOTAL", "WH", "FTE", "LATCOD", "LONCOD", "STUTERATIO"]] = red_df[["LZIP", "TOTFRL", "TOTAL", "WH", "FTE", "LATCOD", "LONCOD", "STUTERATIO"]].apply(pd.to_numeric) #errors = 'ignore'

# Remove rows where there is missing data
new_df = red_df.dropna()

# View some of new_df
new_df.head()

/var/folders/px/wpgm9x4s7kn74ncpg4pttzd00000gn/T/ipykernel_69025/3213966054.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_df[["LZIP", "TOTFRL", "TOTAL", "WH", "FTE", "LATCOD", "LONCOD", "STUTERATIO"]] = red_df[["LZIP", "TOTFRL", "TOTAL", "WH", "FTE", "LATCOD", "LONCOD", "STUTERATIO"]].apply(pd.to_numeric) #errors = 'ignore'

,SCH_NAME,LSTREET1,LCITY,LSTATE,LZIP,VIRTUAL,TOTFRL,TOTAL,WH,FTE,LATCOD,LONCOD,ULOCALE,STUTERATIO,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,SCHOOL_LEVEL
0,Albertville Middle School,600 E Alabama Ave,Albertville,AL,35950,Not Virtual,332.0,908.0,371.0,42.0,34.2602,-86.206200,32-Town: Distant,21.62,Regular school,Currently operational,Middle
1,Albertville High School,402 E McCord Ave,Albertville,AL,35950,Not Virtual,456.0,1606.0,706.0,82.0,34.2622,-86.204900,32-Town: Distant,19.59,Regular school,Currently operational,High
2,Albertville Intermediate School,901 W McKinney Ave,Albertville,AL,35950,Not Virtual,330.0,891.0,345.0,41.0,34.2733,-86.220100,32-Town: Distant,21.73,Regular school,Currently operational,Middle
3,Albertville Elementary School,145 West End Drive,Albertville,AL,35950,Not Virtual,397.0,908.0,340.0,49.0,34.2527,-86.221806,32-Town: Distant,18.53,Regular school,Currently operational,Elementary
4,Albertville Kindergarten and PreK,257 Country Club Rd,Albertville,AL,35951,Not Virtual,181.0,556.0,216.0,30.0,34.2898,-86.193300,32-Town: Distant,18.53,Regular school,Currently operational,Elementary

In [10]:
# Look at how many rows we have lost with the removal of empty rows
# Final result
new_df.describe()

,LZIP,TOTFRL,TOTAL,WH,FTE,LATCOD,LONCOD,STUTERATIO
count,73577.000000,73577.000000,73577.000000,73577.000000,73577.000000,73577.000000,73577.000000,73577.000000
mean,54584.079522,284.096620,530.790532,231.724506,34.202104,37.411759,-93.225994,16.316400
std,29266.625286,295.814934,471.644119,265.770428,25.788743,5.408087,16.712879,70.131844
min,601.000000,3.000000,0.000000,0.000000,0.010000,13.272449,-159.716254,0.000000
25%,30004.000000,96.000000,265.000000,46.000000,18.530001,33.710738,-99.900700,12.190000
50%,55104.000000,209.000000,431.000000,166.000000,29.000000,38.017136,-91.371078,14.580000
75%,78584.000000,378.000000,646.000000,324.000000,42.320000,41.317600,-81.105600,17.630000
max,99403.000000,10595.000000,16419.000000,10098.000000,683.270020,49.352909,144.917553,17900.000000

In [11]:
# Dataset before removal of empty data
red_df.describe()

,LZIP,TOTFRL,TOTAL,WH,FTE,LATCOD,LONCOD,STUTERATIO
count,100722.000000,76964.000000,98651.000000,96938.000000,91220.000000,100722.000000,100722.000000,99506.000000
mean,54070.678452,280.158087,500.980963,231.418102,33.045194,37.824975,-92.999432,14.370399
std,29046.786896,293.882177,475.923390,277.449188,26.182538,5.745327,17.544466,60.800319
min,601.000000,3.000000,0.000000,0.000000,0.000000,-14.348924,-176.640331,-2.000000
25%,30165.000000,94.000000,233.000000,39.000000,17.469999,33.949765,-101.868526,11.000000
50%,55305.000000,206.000000,408.000000,164.000000,28.000000,38.738440,-89.518996,14.030000
75%,78611.000000,374.000000,624.000000,326.000000,41.349998,41.667645,-81.235633,17.100000
max,99950.000000,10595.000000,21049.000000,14297.000000,1093.000000,71.300337,145.784430,17900.000000

100,722 - 73,577 = 27,145 rows/schools removed.

In [12]:
# Save new df
new_df.to_csv("Public_Schools_2020-2021_Cleaned.csv")

new_df.dtypes

SCH_NAME             object
LSTREET1             object
LCITY                object
LSTATE               object
LZIP                  int64
VIRTUAL              object
TOTFRL              float64
TOTAL               float64
WH                  float64
FTE                 float64
LATCOD              float64
LONCOD              float64
ULOCALE              object
STUTERATIO          float64
SCHOOL_TYPE_TEXT     object
SY_STATUS_TEXT       object
SCHOOL_LEVEL         object
dtype: object